!!! 5
html(lang="en")
  head
    title Arduino control nodeuino for JavaScript and Node.js with WebSockets and HTML5
    link(rel="stylesheet", href="styles/bootstrap/init.css")
    link(rel="stylesheet", href="styles/prettify.css")
    link(rel="stylesheet", href="styles/init.css")
    link(rel="stylesheet", href="styles/rickshaw.css")
    
    
    script(data-main="scripts/app." + jsApp, type="text/javascript", src="scripts/vendor/require-jquery.js")
    script(type="text/javascript", src="http://localhost:8090/socket.io/socket.io.js")
    script(type="text/javascript", src="scripts/vendor/rickshaw.min.js")
    script(type="text/javascript", src="scripts/vendor/d3.v2.js")
    script(type="text/javascript", src="scripts/vendor/d3.layout.min.js")
    script(type="text/javascript", src="scripts/oscilloscope.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Class.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Compat.ClassList.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Renderer.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Renderer.Area.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Renderer.Line.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Renderer.Bar.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Renderer.ScatterPlot.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.RangeSlider.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.HoverDetail.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Annotate.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Legend.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Axis.Time.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Behavior.Series.Toggle.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Behavior.Series.Order.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Behavior.Series.Highlight.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Smoother.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Unstacker.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Fixtures.Time.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Fixtures.Number.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Fixtures.RandomData.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Fixtures.Color.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Color.Palette.js")
    script(type="text/javascript", src="scripts/vendor/js/Rickshaw.Graph.Axis.Y.js")
   
    script(data-main="scripts/app." + jsApp, type="text/javascript", src="scripts/vendor/require-jquery.js")
    script(type="text/javascript", src="http://localhost:8090/socket.io/socket.io.js")
    link(type="text/css", rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css")
    
   
   

    body
        .container
 
    !=body