<<<<<<< HEAD
body{
	background: url(../images/darkTexture.png) 0 0 repeat;
}

#analog-read-container{
	display: block;
	width: 350px;
	background: url(../images/lightTexture.png) 0 0 repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	padding:20px;
	border-radius: 20px;
}

#analog-read-title{
	color: #343333;
	font-size: 44px;
	line-height: 50px;
	text-align: center;
}

#analog-reading{
	color: #34333;
	font-size: 120px;
	line-height: 140px;
	font-weight: 600;
	text-align: center;
